body {
    /*margin: 5px;*/
    /*overflow: auto;*/
}




/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/


/*body {*/
/*    font-family: 'Poppins', sans-serif;*/
/*    background: #fafafa;*/
/*}*/

h4 {
    color:white;
}

text {
    /*font: 10px sans-serif;*/
    /*text-anchor: middle;*/
    pointer-events: none;

}

svg {
    font: 12px sans-serif;
}


.inner_node {
    pointer-events: all;
}


.outer_node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    pointer-events: all;
}

.outer_node circle.highlight
{
    stroke: #315B7E;
    stroke-width: 2px;
}

.link {
    fill: none;
}