body {
    /*margin: 5px;*/
    /*overflow: auto;*/
}




/*@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";*/


/*body {*/
/*    font-family: 'Poppins', sans-serif;*/
/*    background: #fafafa;*/
/*}*/

h4 {
    color:white;
}

text {
    /*font: 10px sans-serif;*/
    /*text-anchor: middle;*/
    pointer-events: none;

}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    mid-height: 10px;
}

svg {
    font: 12px sans-serif;
}


.inner_node {
    pointer-events: all;
}

.inner_node rect {
    pointer-events: all;
    stroke: #1d3557;
    fill: #aaaaaa;
}

.inner_node rect.highlight {
    stroke: #e63946;
    stroke-width: 2px;
    fill: #f1faee;
}

/*.outer_node circle {*/
/*    fill: #f1faee;*/
/*    stroke: #1d3557;*/
/*    stroke-width: 1.5px;*/
/*    pointer-events: all;*/
/*}*/

.outer_node circle.highlight
{
    stroke: #e63946;
    stroke-width: 2px;
}

outer_node text.highlight{
    /*stroke:#e63946;*/
}

.link {
    fill: none;
    /*stroke: #a8dadc;*/
}

/*.link path.highlight{*/
/*    stroke: #fc4903;*/
/*}*/
.images{
    max-width: 100%;
    height: auto;
}